@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* Container */
.containerm {
    max-width: $bp-desktop-xl;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

}

.containerbg_head {
    background-image: url('../../img/bg-lines.svg'), 
    url('../../img/bg-oval.svg');
    background-position: 225% 10%, 127% 21%;
    background-repeat: no-repeat;
}

.containerbg_features {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 120%;

        background-image: url('../../img/bg-lines.svg');
        background-repeat: no-repeat;
        background-position: -126% 91%; 
        z-index: -1;
    }
}

.footerbg {
    background-image: url('../../img/bg-lines.svg');
    background-position: 222% 67%;
    background-repeat: no-repeat;
}


