@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* Container */
.containerm {
    max-width: $bp-desktop-xl;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint(tablet){
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint(desktop){
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

.containerbg_head {
    background-image: url('../../img/bg-lines.svg'), 
    url('../../img/bg-oval.svg');
    background-position: 250% 10%, 127% 21%;
    background-repeat: no-repeat;

    @include breakpoint(tablet) {
        background-position: -90% 5%, 109% 44%;
    }

    @include breakpoint(tablethorizontal) {
        background-position: -50% 8%, 69% 40%;
    }

    @include breakpoint(desktop) {
        background-position: -30% 8%, 58% 40%;
        margin-left: auto;
        margin-right: auto;
        max-width: $bp-desktop-xl;
    }
}

.containerbg_features {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 120%;

        background-image: url('../../img/bg-lines.svg');
        background-repeat: no-repeat;
        background-position: -150% 91%; 
        z-index: -1;

        @include breakpoint(tablet) {
           background-position: 220% 90%;  
        }

        @include breakpoint(tablethorizontal){
            background-position: 150% 100%;
        }

        @include breakpoint(desktop) {
            background-position: 150% 80%;
            margin-left: auto;
            margin-right: auto;
            max-width: $bp-desktop-xl;
        }
    }
}

.footerbg {
    background-image: url('../../img/bg-lines.svg');
    background-position: 250% 67%;
    background-repeat: no-repeat;

    @include breakpoint(tablet) {
        background-position: -140% 75%;  
    }

    @include breakpoint(tablethorizontal) {
        background-position: -40% 60%;
    }
}


