@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* FEATURES */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2.5rem;
    border-bottom: 1px solid $white;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.15rem;

        &--title {
            text-align: center;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.5rem;
            letter-spacing: -0.0625rem;
        }

        &--description {
            text-align: center;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.625rem;
        }
    }
}

