@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Header */

.header {
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.25rem;
        gap: 1.25rem;

        @include breakpoint(tablet){
          flex-direction: row;
          justify-content: space-between;
          margin-top: 2rem;
        }

        &--logo {
          width: 100%;
          height: 1.375rem;
          @include logo-switcher('../../src/img/logo');
          aspect-ratio: 127 / 22;
          
          @include breakpoint(tablet) {
            height: 2.2rem;
          }
        }

        &--social {
            display: flex;
            gap: 1.5rem;

            @include breakpoint(tablet) {
              gap: 2rem;
            }

            @include breakpoint(tablethorizontal) {
              padding-right: 2rem;
            }

            >li {
                @include reset-list;
            }
        }
    }
}


.header__nav--social {
  svg {
    width: 1.5rem;
    height: 1.5rem;
    
    @include breakpoint(tablet) {
      width: 1.8rem;
      height: 1.8rem;
    }
    
    path {
      fill: $white;
      transition: fill 0.2s ease;
    }
  }
  
  a:hover svg path {
    fill: $green;
  }
}