@use '../abstracts/variables' as *;

/* Mixins */
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BREAKPOINTS */

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

/* HERO IMG SWITCHER */

@mixin hero-img-switcher($base-path) {
  
  background-image: url("#{$base-path}-m.png"), linear-gradient(180deg, rgba(36, 36, 36, 0.00) 0.65%, #242424 100%);
  background-size: cover;
  background-position: center;

  // Tablet
  @include breakpoint(tablet) {
    background-image: url("#{$base-path}-tablet.png");
  }

  // Desktop
  @include breakpoint(tablethorizontal) {
    background-image: url("#{$base-path}-desktop.png");
  }
}

/* PROJECT IMG SWITCHER */

@mixin project-img-switcher($base-path) {
  
  background-image: url("#{$base-path}-m.png"), linear-gradient(180deg, rgba(36, 36, 36, 0.00) 0.65%, #242424 100%);
  background-size: cover;
  background-position: center;

  // Desktop
  @include breakpoint(desktop) {
    background-image: url("#{$base-path}-desktop.png");
  }
}

/* LOGO SWITCHER */

@mixin logo-switcher($base-path) {
  
  background-image: url("#{$base-path}-m.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  // Tablet
  @include breakpoint(tablet) {
    background-image: url("#{$base-path}-tablet.svg");
  }

  // Desktop
  @include breakpoint(desktop) {
    background-image: url("#{$base-path}-desktop.svg");
  }
}

/* BASIC BUTTON */

@mixin button {
  display: inline-block;
  position: relative;
  color: $white;
  font-weight: 700; 
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: 0.15rem;
  transition: color 0.2s ease;

  &:after {
    content: "";
    width: 100%;
    background-color: $green;
    height: 0.125rem;
    position: absolute;
    bottom: -0.8rem;
    left: 0;
  }

  &:hover {
    color: $green;
  }
}