/* Variables */

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
$font-stack: "Space Grotesk", sans-serif;

/*COLORS*/
$black: #151515;
$green: #4EE1A0;
$dark-grey: #242424;
$light-grey: #d9d9d9;
$white: #fff;

/*BREAKPOINTS*/
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
