@use '../abstracts/variables' as *;
/* Base styles */
* {
    font-size: 16px;
    font-family: $font-stack;
    color: $white;
    
}

body {
    overflow-x: hidden;
    background-color: $black;
    position: relative;
}

img {
  max-width: 100%;
}
